body {
    color: rgb(112, 255, 93);
    background-color: rgb(16, 27, 27);
    font-family: 'Courier New', Courier, monospace;
    font-weight: inherit;
}

#Header .a:hover {
    color: rgb(21, 255, 0);
}

#bg-img {
    background: url('../images/romaintrystram-jungle-islands.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 500px;
}